#linux{
	color:white;
	font-family:ubuntu;
	    
  -webkit-transition: all 1s ease; 
     -moz-transition: all 1s ease; 
       -o-transition: all 1s ease; 
          transition: all 1s ease; 
          
	text-align:center;
	opacity:0;
	width:100%;
	background:-moz-linear-gradient(left, #77216F,#5E2750,#2C001E,#DD4814);
	background:-webkit-linear-gradient(left, #77216F,#5E2750,#2C001E,#DD4814);
	height:50px;
	line-height:50px;
	text-shadow: 0px -1px 0px #374683;
}

#linux:hover{opacity:1;}

#top {
    background: url("basetop.png") repeat scroll 0 0 transparent;    
    height: 81px;    
    margin: 0 auto;
    position: relative;
    top: 166px;
    width: 275px;
    z-index: -2;
}

#logo {
        
  -webkit-transition: all 1s ease; 
     -moz-transition: all 1s ease; 
       -o-transition: all 1s ease; 
          transition: all 1s ease; 

    background: url("logotop.png") repeat scroll 0 0 transparent;
    height: 146px;
    margin: 0 auto;
    position: relative;
    top: 90px;
    width: 144px;
    z-index: -4;
}

#logo:hover{
		
	-webkit-transform: rotate(360deg);  
	-webkit-transform-style: preserve-3d;
    
     -moz-transform: rotate(360deg);
     -moz-transform-style: preserve-3d;
     
      -ms-transform: rotate(360deg);
      -ms-transform-style: preserve-3d;
      
          transform: rotate(360deg);
    transform-style: preserve-3d;
}

#bottom {
	
    background: url("basebot.png") repeat scroll 0 0 transparent;
    height: 263px;
    margin: 0 auto;
    position: relative;
    top: 124px;
    width: 299px;
}


#bottom:hover #logo{
	top:-120px;
	z-index:0; /* make logo hoverable by bringing it forward :-)*/
}

#why{
	color:white;
	font-family:ubuntu;
	height:50px;
	-moz-transition:1s ease all;
	background:-moz-linear-gradient(left, #DD4814,#77216F,#5E2750,#2C001E);
	background:-webkit-linear-gradient(left, #DD4814,#77216F,#5E2750,#2C001E);
	text-align:center;
	bottom:0px; /* make it stick to bottom of browser */
	opacity:0;
	line-height:50px;
	position:absolute;
	width:100%;
}
